/code/site/joomlatools-pages/.DS_Store
/code/site/joomlatools-pages/layouts/.DS_Store
/code/site/joomlatools-pages/pages/.DS_Store
/code/site/joomlatools-pages/pages/examples/.DS_Store
/code/site/joomlatools-pages/partials/.DS_Store
/code/site/joomlatools-pages/partials/navigation/.DS_Store
/code/site/joomlatools-pages/partials/structure/.DS_Store
/code/site/joomlatools-pages/theme/.DS_Store
/code/site/joomlatools-pages/theme/css/.DS_Store
/code/site/joomlatools-pages/theme/css/vendor/.DS_Store
/code/site/joomlatools-pages/theme/images/.DS_Store
/code/site/joomlatools-pages/theme/images/logo/.DS_Store
/code/site/.DS_Store
